# Default ignored files
/../../Ыemester/.idea/shelf/
/../../Ыemester/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MullinR_005_ASD\HomeWork_ASD\Ыemester\.idea/dataSources/
/../../Ыemester/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Ыemester/.idea/httpRequests/
